<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="幻水総選挙2019 集計所" property="og:title" />
    <meta content="website" property="og:type" />
    <meta content="https://election.suikoden.info/" property="og:url" />
    <meta content="https://election.suikoden.info/gensosenkyo_2019_modern_title.jpg" property="og:image" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="https://election.suikoden.info/" name="twitter:site" />
    <meta content="https://election.suikoden.info/gensosenkyo_2019_modern_title.jpg" name="twitter:image" />
    <meta content="幻水総選挙2019 集計所" name="twitter:title" />
    <meta content="幻水総選挙2019の集計等のご案内をするサイトです。" name="twitter:description" />
    <title><%= page_title %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-52G88WJ');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52G88WJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%= yield %>
  </body>
</html>
